*{
    padding: 0px;
    margin: 0px;
}
/* FUNDO */

body{
    background-image: url(arquivo/m-d-playing.png);
    background-repeat: no-repeat;
    background-position: center;
}
.video{
    position: fixed;
    z-index: -100;
    width: 100%;
}
/* CABEÇALHO */

.cabecalho{
    text-align: center;
    height: 80vh;
}
.cabecalho div{
    display: inline-block;
    padding: 20px 30px;
}
.divLogo figcaption{
    width: 400px;
}
.caixaInput{
    position: relative;
    bottom: 35px;
}

/* BOTOES */

label{
    color: #b08745;
    margin: 10px;
    font-size: 25px;
}
.inputTXT{
    padding: 10px 0;
    font-size: 16px;
    padding: 8px 5px;
    color: #fff;
    border: none;
    background: rgb(80, 80, 80, 0.7);
    border-radius: 6px;
}
.inputSubmit{
    background: #b08745;
    font-size: 20px;
    padding: 4px 20px;
    border: 2px solid #b08744;
    cursor: pointer;
    color: white;
    text-align: center;
    border-radius: 6px;
}
.caixaInput img{
    width: 55px;
    position: relative;
    top: 13px;
    right: 5px;
}

/* RODAPE */
.icon img{
    width: 60px;
    padding: 20px;
}
.icon{
    text-align: center;
}

/* RESPONSIVIDADE */
@media(max-width: 1092px){
    .video{
        display: none;
    }
}
@media(max-width: 869px){
    .caixaInput{
        width: 100%;
    }
    .caixaInput label{
        height: 20vh;
        display: inline-block;
        width: 100%;
        margin: auto;
        padding: 50px 0 0 0 ;
    }
    .caixaInput .inputTXT{
        padding: 15px 5px;
        width: 50%;
        margin: 0px;
    }
    
    .cabecalho{
        height: 90%;
    }
    .cabecalho div{
        padding: 20px 0px;
    }
}